<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
    <style>
        body {
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #333;
        }

        ul {
            list-style: none;
        }

        li {
            margin: 5px 0;
            padding: 10px;
            background-color: #fff;
        }
    </style>
</head>
<body>
<h1>Book List</h1>
<ul>
    <li>Book 1</li>
    <li>Book 2</li>
    <li>Book 3</li>
</ul>
</body>
</html>
